/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
`.text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}
.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}
.list-view .list-cell:even {
    -fx-control-inner-background: white ;
 -fx-control-inner-background-alt: derive(-fx-control-inner-background, 10%);
-fx-text-fill: grey;
}
.list-view .list-cell:odd {
    -fx-control-inner-background: white ;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, -10%);
-fx-text-fill: grey;
}`

